# Bỏ qua thư viện Frontend
node_modules/

# Bỏ qua thư viện Backend Python
venv/
__pycache__/

# Bỏ qua file chứa API Key (CỰC KỲ QUAN TRỌNG ĐỂ BẢO MẬT)
.env
dotnet-sdk-10.0.203-win-x64.exe
Tiến độ tuần 10.docx
~$ến độ tuần 11.docx
Tiến độ tuần 11.docx
